# Data files
backend/data/raw/
backend/data/processed/
london_all_data_uncleaned.csv
dataset/

# Models 
backend/models/*.pkl

# Shapefiles
backend/data/LB_shp/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
.env
.env.*
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# Logs
*.log
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
LSOA_2021_EW_BSC_V4.shp